<!-- Cabecalho -->
<div class="row page-header">
  <app-header></app-header>
</div>

<!-- Corpo -->
<div class="container">
  <div class="row">
    <div class="column">
      <a mat-flat-button routerLink="/lista-ordem-servico">Lista de Ordens de Serviços</a>
      /
      <a mat-flat-button routerLink="/nova-ordem-servico" >Nova Ordem de Serviço</a>
    </div>
  </div>

  <div class="row">
    <ngb-alert #selfClosingAlert *ngIf="alertMessage" type="{{alertType}}" (closed)="alertMessage = ''" >{{ alertMessage }}</ngb-alert>
  </div>

  <div class="row">
    <form class="form" fxLayout="column" [formGroup]="formOrdemServico">

      <div class="row border bg-light">
        <!-- codigo -->
        <div class="col-6">
          <mat-form-field>
            <mat-label>Número Ordem de Serviço</mat-label>
            <input class="form-control" matInput placeholder="Número Ordem Serviço" formControlName="codigo" readonly />
          </mat-form-field>
        </div>
        <div class="col-6"></div>

        <!-- Data Inicio -->
        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Data Início do Serviço</mat-label>
            <input matInput [matDatepicker]="dataInicio" placeholder="Data Início" formControlName="dataInicio" name="dataInicio" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="dataInicio"></mat-datepicker-toggle>
            <mat-datepicker #dataInicio></mat-datepicker>
          </mat-form-field>
        </div>

        <!-- Data Final -->
        <div class="col-6" appearance="fill">
          <mat-form-field>
            <mat-label>Data Final do Serviço</mat-label>
            <input matInput [matDatepicker]="dataFinal" placeholder="Data Final" formControlName="dataFinal" name="dataFinal" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="dataFinal"></mat-datepicker-toggle>
            <mat-datepicker #dataFinal></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <br />

      <div class="row border bg-light">
        <!-- Cliente -->
        <div class="col-6">
          <mat-form-field>
            <mat-mat-label>Cliente</mat-mat-label>
            <select matNativeControl formControlName="idCliente" name="cliente">
              <option value="" selected ></option>
              <option *ngFor="let cliente of comboCliente" [value]="cliente.id">
                {{cliente.nome}}
              </option>
            </select>
          </mat-form-field>
        </div>

        <!-- Veiculo -->
        <div class="col-6">
          <mat-form-field>
            <mat-mat-label>Veículo</mat-mat-label>
            <select matNativeControl formControlName="idVeiculo" name="veiculo">
              <option value="" selected ></option>
              <option *ngFor="let veiculo of comboVeiculo" [value]="veiculo.id">
                {{veiculo.modelo}}
              </option>
            </select>
          </mat-form-field>
        </div>
      </div>

      <br />

      <!-- Acoes -->
      <div class="row">
        <div class="col-6">
          <button mat-stroked-button color="primary" class="float-left"
            routerLink="/lista-ordem-servico">Voltar</button>
        </div>

        <div class="col-6">
          <button mat-flat-button color="primary" class="float-right">Gravar Nova Ordem se Serviço</button>
        </div>
      </div>

    </form>
  </div>

</div>


