<!-- Cabecalho -->
<div class="row page-header">
  <app-header></app-header>
</div>

<!-- Corpo -->
<div class="container">

  <div class="row">
    <div class="column">
      <a mat-flat-button routerLink="/lista-ordem-servico">Lista de Ordens de Serviços</a>
      /
      <a mat-flat-button routerLink="/detalhe-ordem-servico">Detalhe Ordem de Serviço</a>
    </div>
  </div>

  <div class="row">
    <ngb-alert #selfClosingAlert *ngIf="alertMessage" type="{{alertType}}" (closed)="alertMessage = ''" >{{ alertMessage }}</ngb-alert>
  </div>

  <div class="row">
    <!-- Filtro -->
    <div class="col-6" >
      <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput placeholder="Filtro" #input class="input-filter" (keyup)="applyFilter($event);" />
      </mat-form-field>
    </div>

    <!-- Botao navegação nova ordem de serviço -->
    <div class="col-6" >
      <button mat-stroked-button color="warn" class="float-right" (click)="incluirNovo();">Nova Ordem de Serviço</button>
    </div>
  </div>

  <div class="row" >

    <table #table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Código -->
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> Nº Ordem de Serviço </th>
        <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
      </ng-container>

      <!-- Nome do Cliente -->
      <ng-container matColumnDef="nomeCliente">
        <th mat-header-cell *matHeaderCellDef> Nome do Cliente </th>
        <td mat-cell *matCellDef="let element"> {{element.nomeCliente}} </td>
      </ng-container>

      <!-- Veiculo -->
      <ng-container matColumnDef="veiculo">
        <th mat-header-cell *matHeaderCellDef> Veiculo </th>
        <td mat-cell *matCellDef="let element"> {{element.veiculo}} </td>
      </ng-container>

      <!-- Placa -->
      <ng-container matColumnDef="placa">
        <th mat-header-cell *matHeaderCellDef> Placa </th>
        <td mat-cell *matCellDef="let element"> {{element.placa}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="detalhar(row);"></tr>
    </table>

    <!-- Componente de paginação -->
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons aria-label="Selecione Quantidade"></mat-paginator>
  </div>
</div>
