mat-form-field {
  width: 100%;
}

.float-right {
  float: right  ;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: #d3d3d356;
}

.demo-row-is-clicked {
  font-weight: bold;
}
